<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{admin/base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <!-- Page Title -->
    <title>Add Skill - Sarvech Rehmani</title>
  </head>
  <body>
    <div>
      <!-- Page Content Start -->
      <div id="content" class="content">
        <div class="content__wrapper">
          <div style="margin: 40px 0 0 65px">
            <h2>Add Skill</h2>
          </div>

          <div class="container">
            <div class="main_container">
              <div class="mb-3">
                <div th:replace="~{admin/message :: alert}"></div>
              </div>
              <div class="card-head d-flex justify-content-between">
                <h1 class="title">Skill</h1>
                <div>
                  <a
                    th:href="@{/admin/dashboard#skills}"
                    class="header__trigger btn"
                  >
                    <span class="btn-caption">back</span>
                    <i class="fa-solid fa-circle-arrow-left"></i>
                  </a>
                </div>
              </div>

              <form
                th:action="@{/admin/skill/save}"
                th:object="${skill}"
                method="POST"
                enctype="multipart/form-data"
                class="form contact-form"
                id="contact-form"
                novalidate
              >
                <div class="container-fluid p-0">
                  <div class="row gx-0">
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="text"
                        th:field="*{skillName}"
                        placeholder="Skill Name here*"
                        required
                      />
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('skillName')}"
                        th:errors="*{skillName}"
                      ></p>
                    </div>

                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <select th:field="*{skillType}" required>
                        <option value="">Select Skill Type</option>
                        <option value="languages">Languages</option>
                        <option value="Frameworks">Frameworks</option>
                        <option value="tools">Tools</option>
                        <option value="others">Others</option>
                      </select>
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('skillType')}"
                        th:errors="*{skillType}"
                      >
                        something went wroung.!
                      </p>
                    </div>

                    <div class="col-12 form__item animate-in-up">
                      <button
                        class="btn btn-default btn-hover btn-hover-accent"
                        type="submit"
                      >
                        <span class="btn-caption">Save</span>
                        <i class="fa-solid fa-floppy-disk"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="container mt-5">
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
