<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{admin/base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <!-- Page Title -->
    <title>Dashboard - Sarvech Rehmani</title>
  </head>
  <body>
    <div>
      <!-- Page Content Start -->
      <div id="content" class="content">
        <div class="content__wrapper">
          <div style="margin: 40px 0 0 65px">
            <h2>Welcome Back to your portfolio Admin Panel</h2>
          </div>

          <div class="container">
            <div class="main_container">
              <div class="card-head d-flex justify-content-between">
                <h1 class="title">Details</h1>
                <div>
                  <a
                    th:href="@{/admin/update-details}"
                    class="header__trigger btn"
                  >
                    <span class="btn-caption">Edit</span>
                    <i class="fa-solid fa-plus"></i>
                  </a>
                </div>
              </div>

              <div class="container-fluid p-0">
                <!-- Content Block - Achievements Start -->
                <div class="content__block grid-block p-0">
                  <div
                    class="achievements d-flex flex-column flex-md-row gap-3 align-items-md-stretch"
                  >
                    <!-- achievements single item -->
                    <div
                      class="achievements__item d-flex flex-column grid-item animate-card-3 p-0"
                    >
                      <div class="achievements__card">
                        <p class="achievements__number">40+</p>
                        <p class="achievements__descr">Happy clients</p>
                      </div>
                    </div>
                    <!-- achievements single item -->
                    <div
                      class="achievements__item d-flex flex-column grid-item animate-card-3 p-0"
                    >
                      <div class="achievements__card">
                        <p class="achievements__number">1+</p>
                        <p class="achievements__descr">Years of experience</p>
                      </div>
                    </div>
                    <!-- achievements single item -->
                    <div
                      class="achievements__item d-flex flex-column grid-item animate-card-3 p-0"
                    >
                      <div class="achievements__card">
                        <p class="achievements__number">15+</p>
                        <p class="achievements__descr">Projects done</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Content Block - Achievements End -->

                <!-- Content Block - About Me Data Start -->
                <div class="content__block grid-block block-large p-0">
                  <div class="container-fluid">
                    <div class="row g-0 justify-content-between p-0">
                      <!-- About Me Information Start -->
                      <div class="col-12 col-xl-4 grid-item about-info">
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Name</small>
                            Sarvech Rehmani
                          </h6>
                        </div>
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Phone</small>
                            <a class="text-link-bold" href="tel:+923133599267"
                              >+92 313-3599267</a
                            >
                          </h6>
                        </div>
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Email</small>
                            <a
                              class="text-link-bold"
                              href="mailto:sarwech99@gmail.com?subject=Message%20From%20Your%20Site"
                              >sarwech99@gmail.com</a
                            >
                          </h6>
                        </div>
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Location</small>
                            <a
                              class="text-link-bold"
                              href="https://maps.app.goo.gl/uersU2G9wwhu8cZU7"
                              target="_blank"
                              >Karachi, Pakistan</a
                            >
                          </h6>
                        </div>
                      </div>
                      <!-- About Me Information End -->

                      <!-- About Me Description Start -->
                      <div class="col-12 col-xl-8 grid-item about-descr">
                        <p class="about-descr__text animate-in-up text-justify">
                          I wonder if I've been changed in the night? Let me
                          think. Was I the same when I got up this morning? I
                          almost think I can remember feeling a little
                          different. But if I'm not the same, the
                          <a href="#0" class="text-link">next question</a>
                          is 'Who in the world am I?' Ah, that's the great
                          puzzle!
                        </p>
                        <p class="about-descr__text animate-in-up text-justify">
                          Be what you would seem to be - or, if you'd like it
                          put more simply - never imagine yourself not to be
                          otherwise than what it might appear to others that
                          what you were or
                          <a href="#0" class="text-link">might have been</a>
                          was not otherwise than what you had been would have
                          appeared to them to be otherwise.
                        </p>
                        <div
                          class="btn-group about-descr__btnholder animate-in-up"
                        >
                          <a
                            class="btn mobile-vertical btn-default btn-hover btn-hover-accent"
                            href="#0"
                          >
                            <span class="btn-caption">Download CV</span>
                            <i class="ph-bold ph-download-simple"></i>
                          </a>
                        </div>
                      </div>
                      <!-- About Me Description End -->
                    </div>
                  </div>
                </div>
                <!-- Content Block - About Me Data End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
