<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{admin/base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <!-- Page Title -->
    <title>Dashboard - Sarvech Rehmani</title>
  </head>
  <body>
    <div>
      <!-- Page Content Start -->
      <div id="content" class="content">
        <div class="content__wrapper">
          <!-- DAASHBOARD -->
          <section id="dashboard" th:object="${details}">
            <div class="dashboard-title">
              <h2>Welcome Back to your portfolio Admin Panel</h2>
            </div>

            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Details</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/update-details}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Edit</span>
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                  </div>
                </div>
                <div th:replace="~{admin/message :: alert}"></div>

                <div class="container-fluid p-0">
                  <!-- Content Block - Achievements Start -->
                  <div class="content__block grid-block p-0">
                    <div
                      class="achievements d-flex flex-column flex-md-row gap-3-5 align-items-md-stretch"
                    >
                      <!-- achievements single item -->
                      <div
                        class="achievements__item d-flex flex-column grid-item animate-card-3 p-0"
                      >
                        <div class="achievements__card">
                          <p
                            class="achievements__number"
                            th:text="*{happyClients+'+'}"
                          >
                            40+
                          </p>
                          <p class="achievements__descr">Happy clients</p>
                        </div>
                      </div>
                      <!-- achievements single item -->
                      <div
                        class="achievements__item d-flex flex-column grid-item animate-card-3 p-0"
                      >
                        <div class="achievements__card">
                          <p
                            class="achievements__number"
                            th:text="*{experience+'+'}"
                          >
                            1+
                          </p>
                          <p class="achievements__descr">
                            <span th:text="*{experiencedIn}">Years</span> of
                            experience
                          </p>
                        </div>
                      </div>
                      <!-- achievements single item -->
                      <div
                        class="achievements__item d-flex flex-column grid-item animate-card-3 p-0"
                      >
                        <div class="achievements__card">
                          <p
                            class="achievements__number"
                            th:text="*{projects+'+'}"
                          >
                            15+
                          </p>
                          <p class="achievements__descr">Projects done</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Content Block - Achievements End -->

                  <!-- Content Block - About Me Data Start -->
                  <div class="container-fluid">
                    <div class="row g-0 justify-content-between p-0">
                      <!-- About Me Information Start -->
                      <div class="col-12 col-xl-4 grid-item about-info">
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Name</small>
                            <span th:text="*{firstName +' '+ lastName}"></span>
                          </h6>
                        </div>
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Phone</small>
                            <a
                              class="text-link-bold"
                              th:href="@{*{'tel:'+phoneNumber}}"
                              th:text="*{phoneNumber}"
                            ></a>
                          </h6>
                        </div>
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Email</small>
                            <a
                              class="text-link-bold"
                              th:href="@{*{'mailto:'+email+'?subject=Message%20From%20Your%20Site'}}"
                              th:text="*{email}"
                            >
                            </a>
                          </h6>
                        </div>
                        <div class="about-info__item animate-in-up">
                          <h6>
                            <small class="top">Location</small>
                            <a
                              class="text-link-bold"
                              th:href="@{*{addressLink}}"
                              target="_blank"
                              th:text="*{address}"
                              >Karachi, Pakistan
                            </a>
                          </h6>
                        </div>
                        <div
                          class="btn-group about-descr__btnholder animate-in-up"
                        >
                          <a
                            target="_blank"
                            class="btn mobile-vertical btn-default btn-hover btn-hover-accent"
                            th:href="@{*{resumeLink}}"
                          >
                            <span class="btn-caption">Download CV</span>
                            <i class="ph-bold ph-download-simple"></i>
                          </a>
                        </div>
                      </div>
                      <!-- About Me Information End -->

                      <!-- About Me Description Start -->
                      <div class="col-12 col-xl-8 grid-item about-descr">
                        <small class="top">Description 1</small>
                        <p
                          class="about-descr__text animate-in-up text-justify"
                          th:text="*{descriptionOne}"
                        >
                          I wonder if I've been changed in the night? Let me
                          think. Was I the same when I got up this morning? I
                          almost think I can remember feeling a little
                          different. But if I'm not the same, the
                          <a href="#0" class="text-link">next question</a>
                          is 'Who in the world am I?' Ah, that's the great
                          puzzle!
                        </p>
                        <small class="top">Description 2</small>
                        <p
                          class="about-descr__text animate-in-up text-justify"
                          th:text="*{descriptionTwo}"
                        >
                          Be what you would seem to be - or, if you'd like it
                          put more simply - never imagine yourself not to be
                          otherwise than what it might appear to others that
                          what you were or
                          <a href="#0" class="text-link">might have been</a>
                          was not otherwise than what you had been would have
                          appeared to them to be otherwise.
                        </p>
                      </div>
                      <!-- About Me Description End -->
                    </div>
                  </div>
                  <!-- Content Block - About Me Data End -->
                </div>
              </div>
            </div>
          </section>

          <!-- SOCIAL LINKS -->
          <section id="social-links">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Social Links</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/social-link/add}"
                      class="header__trigger btn"
                      th:classappend="${socialLinks.size}>=5?'disabled':''"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="row g-0 social-lines__item animate-in-up overflow-hidden"
                  th:each="socialLink: ${socialLinks}"
                >
                  <div class="col-12 col-md-2 d-flex align-items-center">
                    <div class="d-social-links">
                      <i
                        th:class="${socialLink.icon}"
                        th:classappend="'fa-lg'"
                      ></i>
                    </div>
                  </div>
                  <div
                    class="col-12 col-md-7 d-flex flex-column justify-content-center"
                  >
                    <h5
                      class="resume-lines__title animate-in-up"
                      th:text="${socialLink.name}"
                    ></h5>

                    <a
                      class="link-color"
                      th:href="@{${socialLink.link}}"
                      th:text="${socialLink.link}"
                    ></a>
                  </div>
                  <div class="col-12 col-md-3 d-flex align-items-center gap-3">
                    <a
                      th:href="@{'/admin/social-link/update/'+${socialLink.id}}"
                      class="btn social-action-btn edit"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <a
                      th:onclick="deleteItem([[${socialLink.id}]],'social-link')"
                      class="btn social-action-btn delete"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- SELF PROJECTS -->
          <section id="projects">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Projects</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/project/self/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <div itemscope itemtype="http://schema.org/ImageGallery">
                  <div class="content__block grid-block">
                    <div class="container-fluid px-0 inner__gallery">
                      <div
                        class="row gx-0 my-gallery"
                        th:each="project: ${selfProjects}"
                      >
                        <div
                          class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        >
                          <!-- Works Gallery Single Item Start -->
                          <figure
                            itemprop="associatedMedia"
                            itemscope
                            itemtype="http://schema.org/ImageObject"
                          >
                            <a
                              th:href="@{${project.images[0].imageUrl}}"
                              th:data-image="@{${project.images[0].imageUrl}}"
                              class="gallery__link"
                              itemprop="contentUrl"
                              data-size="1400x1400"
                            >
                              <img
                                th:src="@{${project.images[0].imageUrl}}"
                                class="gallery__image"
                                itemprop="thumbnail"
                                th:alt="${project.title}+' thumbnail'"
                              />
                            </a>
                            <figcaption
                              class="gallery__descr"
                              itemprop="caption description"
                            >
                              <a th:href="@{/admin/project/add}">
                                <h5 th:text="${project.title}"></h5>
                              </a>

                              <div class="card__tags d-flex flex-wrap">
                                <span
                                  class="rounded-tag opposite"
                                  th:text="${project.date}"
                                ></span>
                              </div>
                            </figcaption>
                          </figure>
                        </div>

                        <div
                          class="col-md-6 grid-item animate-card-2 fs-1"
                          style="margin-top: 35px"
                        >
                          <a
                            href="#"
                            th:onclick="redirectLocation([[${project.id}]],'project','view')"
                          >
                            <h4
                              class="text-justify"
                              th:text="${project.title}"
                            ></h4>
                          </a>

                          <p
                            class="text-justify"
                            th:text="${project.summery}"
                          ></p>
                          <a
                            th:onclick="redirectLocation([[${project.id}]],'project','update')"
                            href="#"
                          >
                            <span class="rounded-btn edit"> Edit </span>
                          </a>
                          <a
                            th:onclick="deleteItem([[${project.id}]],'project')"
                            href="#"
                          >
                            <span class="rounded-btn delete">Delete</span>
                          </a>
                          <a
                            th:onclick="redirectLocation([[${project.id}]],'project','view')"
                            href="#"
                          >
                            <span class="rounded-btn edit">read more...</span>
                          </a>
                        </div>
                      </div>
                      <!-- Works Gallery Single Item End -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- EDUCATIONS -->
          <section id="education">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Educations</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/education/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <div class="container-fluid p-0 resume-lines">
                  <!-- education single item -->
                  <div
                    class="row g-0 resume-lines__item py-5 animate-in-up"
                    th:each="education: ${educations}"
                  >
                    <div class="col-12 col-md-5">
                      <h5
                        class="resume-lines__title animate-in-up"
                        th:text="${education.title}"
                      ></h5>

                      <p class="resume-lines__source animate-in-up">
                        From :
                        <a
                          th:href="@{${education.institutionLink}}"
                          class="text-link-bold"
                          target="_blank"
                          th:text="${education.Institution}"
                        ></a>
                        <span class="fs-2">
                          ( <span th:text="${education.gradeIn}"></span> :
                          <span th:text="${education.grade}"></span> /
                          <span th:text="${education.totalGrade}"></span> )
                        </span>
                      </p>
                    </div>

                    <div class="col-12 col-md-5 edu-col-2">
                      <p class="small animate-in-up">
                        <span th:text="${education.startDate}"></span> to
                        <span th:text="${education.endDate}"></span>
                      </p>
                      <p class="small animate-in-up fst-italic">
                        <span th:text="${education.location}"></span>
                      </p>
                    </div>

                    <div
                      class="col-12 col-md-2 d-flex align-items-center justify-content-center gap-3"
                    >
                      <a
                        th:href="@{'/admin/education/edit/'+${education.id}}"
                        class="btn social-action-btn edit"
                      >
                        <i class="fa-solid fa-pen-to-square"></i>
                      </a>

                      <a
                        th:onclick="deleteItem([[${education.id}]],'education')"
                        class="btn social-action-btn delete"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- EXPERIENCE -->
          <section id="experience">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Experience</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/experience/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <div class="container-fluid p-0 resume-lines">
                  <!-- Experience single item -->
                  <div
                    class="row g-0 resume-lines__item py-5 animate-in-up"
                    th:each="experience: ${experiences}"
                  >
                    <div class="col-12 col-md-6">
                      <h5
                        class="resume-lines__title animate-in-up"
                        th:text="${experience.position}"
                      ></h5>
                      <p class="resume-lines__source animate-in-up">
                        at :
                        <a
                          th:href="@{${experience.companyLink}}"
                          class="text-link-bold"
                          target="_blank"
                          th:text="${experience.company}"
                        ></a>
                      </p>
                    </div>

                    <div class="col-12 col-md-6 edu-col-2 animate-in-up">
                      <p class="small animate-in-up">
                        <span th:text="${experience.startDate}"></span> to
                        <span th:text="${experience.endDate}"></span>
                      </p>
                      <p class="small animate-in-up fst-italic">
                        <span th:text="${experience.location}"></span>
                      </p>
                    </div>
                    <div class="col-12 col-md-12 animate-in-up">
                      <style>
                        li {
                          list-style: inside;
                        }
                      </style>
                      <p class="fs-3" th:utext="${experience.description}"></p>
                    </div>

                    <div
                      class="col-12 col-md-8 animate-in-up d-flex flex-row align-items-center"
                    >
                      <h5 class="resume-lines__title animate-in-up">
                        Key Skills:
                      </h5>
                      <span
                        class="project-skill"
                        th:text="${experience.keySkills}"
                      >
                      </span>
                    </div>
                    <div
                      class="col-12 col-md-4 animate-in-up d-flex flex-row align-items-center"
                    >
                      <a
                        th:href="@{'/admin/experience/update/'+${experience.id}}"
                        class="btn social-action-btn edit"
                      >
                        <i class="fa-solid fa-pen-to-square"></i>
                      </a>

                      <a
                        th:onclick="deleteItem([[${experience.id}]],'experience')"
                        class="btn social-action-btn delete"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- CLIENT PROJECTS -->
          <section id="client-projects">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Client Projects</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/project/client/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>

                <div class="content__block grid-block">
                  <div class="container-fluid px-0 inner__gallery">
                    <div
                      class="row gx-0 my-gallery"
                      itemscope
                      itemtype="http://schema.org/ImageGallery"
                    >
                      <!-- Works Gallery Single Item Start -->
                      <figure
                        th:each="project: ${clientProjects}"
                        class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        itemprop="associatedMedia"
                        itemscope
                        itemtype="http://schema.org/ImageObject"
                      >
                        <a
                          th:href="@{${project.images[0].imageUrl}}"
                          th:data-image="@{${project.images[0].imageUrl}}"
                          class="gallery__link"
                          itemprop="contentUrl"
                          data-size="1400x1400"
                        >
                          <img
                            th:src="@{${project.images[0].imageUrl}}"
                            class="gallery__image"
                            itemprop="thumbnail"
                            th:alt="${project.title}+' thumbnail'"
                          />
                        </a>
                        <figcaption
                          class="gallery__descr"
                          itemprop="caption description"
                        >
                          <a th:href="@{/admin/project/add}">
                            <h5 th:text="${project.title}"></h5>
                          </a>

                          <div class="card__tags d-flex flex-wrap">
                            <span
                              class="rounded-tag opposite"
                              th:text="${project.date}"
                            ></span>
                          </div>

                          <p class="small" th:text="${project.summery}">
                            Mauris porttitor lobortis ligula, quis molestie
                            lorem scelerisque eu. Morbi aliquam enim odio.
                          </p>
                          <p><a href="">More...</a></p>
                        </figcaption>
                      </figure>
                      <!-- Works Gallery Single Item End -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- SKILLS -->
          <section id="skills">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Skills</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/skill/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <div class="container-fluid p-0 resume-lines">
                  <div class="col">
                    <div class="skills-box">
                      <div class="skills-header">
                        <h3>Languages</h3>
                      </div>
                      <div class="skills-list">
                        <a
                          th:each="skill: ${skills.languages}"
                          th:object="${skill}"
                          th:href="@{'/admin/skill/edit/'+*{id}}"
                        >
                          <span>
                            <i th:text="*{skillName}"></i>
                            <i class="fa-solid fa-pencil"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                    <div class="skills-box">
                      <div class="skills-header">
                        <h3>Frameworks</h3>
                      </div>
                      <div class="skills-list">
                        <a
                          th:each="skill: ${skills.Frameworks}"
                          th:object="${skill}"
                          th:href="@{'/admin/skill/edit/'+*{id}}"
                        >
                          <span>
                            <i th:text="*{skillName}"></i>
                            <i class="fa-solid fa-pencil"></i>
                          </span>
                        </a>
                      </div>
                    </div>

                    <div class="skills-box">
                      <div class="skills-header">
                        <h3>Tools</h3>
                      </div>
                      <div class="skills-list">
                        <a
                          th:each="skill: ${skills.tools}"
                          th:object="${skill}"
                          th:href="@{'/admin/skill/edit/'+*{id}}"
                        >
                          <span>
                            <i th:text="*{skillName}"></i>
                            <i class="fa-solid fa-pencil"></i>
                          </span>
                        </a>
                      </div>
                    </div>

                    <div class="skills-box">
                      <div class="skills-header">
                        <h3>Others</h3>
                      </div>
                      <div class="skills-list">
                        <a
                          th:each="skill: ${skills.others}"
                          th:object="${skill}"
                          th:href="@{'/admin/skill/edit/'+*{id}}"
                        >
                          <span>
                            <i th:text="*{skillName}"></i>
                            <i class="fa-solid fa-pencil"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- FAVIROUTE TOOLS AND SKILLS -->
          <section id="faviroute">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Faviroute Tools</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/favourite-tool/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <div class="container-fluid p-0 resume-lines">
                  <div class="content__block grid-block block-large p-0">
                    <!-- Tools List Start -->
                    <div
                      class="tools-cards d-flex justify-content-start flex-wrap"
                    >
                      <!-- tools simgle item -->
                      <div
                        class="tools-cards__item d-flex grid-item-s animate-card-5"
                        th:each="favouriteTool : *{favouriteTools}"
                        th:object="${favouriteTool}"
                      >
                        <div class="tools-cards__card">
                          <img
                            class="tools-cards__icon animate-in-up"
                            th:src="@{*{logoUrl}}"
                            alt="Tools Icon"
                          />
                          <h6
                            class="tools-cards__caption animate-in-up"
                            th:text="*{name}"
                          ></h6>
                          <a
                            th:onclick="deleteItem([[*{id}]],'favourite-tool')"
                            href="#"
                          >
                            <span class="rounded-btn delete">Delete</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- Tools List End -->
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- CERTIFICATES  -->
          <section id="certificate">
            <div class="container">
              <div class="main_container mb-3">
                <div class="card-head d-flex justify-content-between mb-3">
                  <h1 class="title">Certificate</h1>
                  <div class="d-flex align-items-center">
                    <a
                      th:href="@{/admin/certificate/add}"
                      class="header__trigger btn"
                    >
                      <span class="btn-caption">Add</span>
                      <i class="fa-solid fa-add"></i>
                    </a>
                  </div>
                </div>
                <!-- Content Block - Works Gallery Start -->
                <div class="content__block grid-block">
                  <div class="container-fluid px-0 inner__gallery">
                    <div
                      class="row gx-0 my-gallery"
                      itemscope
                      itemtype="http://schema.org/ImageGallery"
                    >
                      <!-- Works Gallery Single Item Start -->
                      <figure
                        th:each="certificate: *{certificates}"
                        th:object="${certificate}"
                        class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        itemprop="associatedMedia"
                        itemscope
                        itemtype="http://schema.org/ImageObject"
                      >
                        <a
                          th:href="@{*{certificateUrl}}"
                          th:data-image="@{*{certificateUrl}}"
                          class="gallery__link"
                          itemprop="contentUrl"
                          data-size="1755x1240"
                        >
                          <img
                            th:src="@{*{certificateUrl}}"
                            class="gallery__image"
                            itemprop="thumbnail"
                            alt="Certificate Image"
                          />
                        </a>
                        <figcaption
                          class="gallery__descr"
                          itemprop="caption description"
                        >
                          <div class="card__tags d-flex flex-wrap">
                            <a
                              th:onclick="deleteItem([[*{id}]],'certificate')"
                              href="#"
                            >
                              <span class="rounded-btn delete">Delete</span>
                            </a>
                          </div>
                          <p class="small"></p>
                        </figcaption>
                      </figure>
                      <!-- Works Gallery Single Item End -->
                    </div>
                  </div>
                </div>
                <!-- Content Block - Works Gallery End -->
              </div>
            </div>
          </section>

          <div class="container mt-5">
            <div class="row"></div>
          </div>

          <!-- Root element of PhotoSwipe. Must have class pswp. -->
          <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
              <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
              <!-- don't modify these 3 pswp__item elements, data is added later on. -->
              <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
              </div>

              <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
              <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                  <!--  Controls are self-explanatory. Order can be changed. -->

                  <div class="pswp__counter"></div>

                  <button
                    class="pswp__button pswp__button--close link-s"
                    title="Close (Esc)"
                  ></button>

                  <button
                    class="pswp__button pswp__button--share link-s"
                    title="Share"
                  ></button>

                  <button
                    class="pswp__button pswp__button--fs link-s"
                    title="Toggle fullscreen"
                  ></button>

                  <button
                    class="pswp__button pswp__button--zoom link-s"
                    title="Zoom in/out"
                  ></button>

                  <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                  <!-- element will get class pswp__preloader-active when preloader is running -->
                  <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
                >
                  <div class="pswp__share-tooltip"></div>
                </div>

                <button
                  class="pswp__button pswp__button--arrow--left link-s"
                  title="Previous (arrow left)"
                ></button>

                <button
                  class="pswp__button pswp__button--arrow--right link-s"
                  title="Next (arrow right)"
                ></button>

                <div class="pswp__caption">
                  <div class="pswp__caption__center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
