<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{admin/base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <!-- Page Title -->
    <title>Update Project - Sarvech Rehmani</title>
  </head>
  <body>
    <div>
      <!-- Page Content Start -->
      <div id="content" class="content">
        <div class="content__wrapper">
          <div style="margin: 40px 0 0 65px">
            <h2>Update Project</h2>
          </div>

          <div class="container">
            <div class="main_container">
              <div class="card-head d-flex justify-content-between">
                <h1 class="title">Project</h1>
                <div>
                  <a
                    th:href="@{/admin/dashboard#projects}"
                    class="header__trigger btn"
                  >
                    <span class="btn-caption">back</span>
                    <i class="fa-solid fa-circle-arrow-left"></i>
                  </a>
                </div>
              </div>
              <form
                th:action="@{'/admin/project/update/'+${project.id}}"
                th:object="${project}"
                method="POST"
                enctype="multipart/form-data"
                class="form contact-form"
                id="contact-form"
                novalidate
              >
                <div class="container-fluid p-0">
                  <div class="row gx-0">
                    <div class="col-12 col-md-12 form__item animate-in-up">
                      <input
                        type="text"
                        th:field="*{title}"
                        placeholder="Project Title here*"
                        required
                      />
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('title')}"
                        th:errors="*{title}"
                      ></p>
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="text"
                        th:field="*{date}"
                        placeholder="Start date - End Date*"
                        required
                      />
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('date')}"
                        th:errors="*{date}"
                      ></p>
                    </div>

                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="text"
                        th:field="*{client}"
                        placeholder="Write 'self' or Company name*"
                        required
                      />
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('client')}"
                        th:errors="*{client}"
                      ></p>
                    </div>

                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="url"
                        th:field="*{githubLink}"
                        placeholder="Github Link here*"
                        required
                      />
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('githubLink')}"
                        th:errors="*{githubLink}"
                      ></p>
                    </div>

                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="url"
                        th:field="*{liveLink}"
                        placeholder="Live Link here"
                      />
                    </div>

                    <div class="col-12 form__item animate-in-up">
                      <textarea
                        style="height: 10rem"
                        th:field="*{summery}"
                        placeholder="Write Summery of projects*"
                        rows="1"
                        required
                      ></textarea>
                      <p
                        class="error"
                        th:if="${#fields.hasErrors('summery')}"
                        th:errors="*{summery}"
                      ></p>
                    </div>

                    <div class="col-12 form__item animate-in-up">
                      <textarea
                        th:field="*{description}"
                        placeholder="Write description of projects"
                        rows="1"
                        required
                      ></textarea>
                    </div>

                    <div class="col-12 form__item animate-in-up">
                      <button
                        class="btn btn-default btn-hover btn-hover-accent"
                        type="submit"
                      >
                        <span class="btn-caption">Save</span>
                        <i class="fa-solid fa-floppy-disk"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="container mt-5">
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
