<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <!-- Page Title -->
    <title>Sarvech Personal Portfolio</title>

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{img/favi/favicon.ico}" />
    <!-- PNG Favicons -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      th:href="@{img/favi/favicon-32x32.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      th:href="@{img/favi/favicon-16x16.png}"
    />
    <!-- Apple Touch Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      th:href="@{img/favi/apple-touch-icon.png}"
    />
    <!-- Android Chrome Favicons -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      th:href="@{img/favi/android-chrome-192x192.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      th:href="@{img/favi/android-chrome-512x512.png}"
    />

    <!-- Template Styles Start -->
    <link rel="stylesheet" th:href="@{css/loaders/loader.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/plugins.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/skill.css}" />
    <!-- Template Styles End -->

    <!-- Custom Browser Color Start -->
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#dcdce7"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#111111"
    />
    <meta name="msapplication-navbutton-color" content="#111111" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- Custom Browser Color End -->
  </head>

  <body th:object="${data}">
    <!-- Loader Start -->
    <div id="loader" class="loader">
      <div id="loaderContent" class="loader__content">
        <div class="loader__shadow"></div>
        <div class="loader__box"></div>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header id="header" class="header d-flex justify-content-between">
      <!-- Navigation Menu Start -->
      <div class="header__navigation">
        <nav id="menu" class="menu">
          <ul class="menu__list d-flex justify-content-start">
            <li class="menu__item">
              <a class="menu__link btn" href="#home">
                <span class="menu__caption">Home</span>
                <i class="ph-bold ph-house-simple"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#portfolio">
                <span class="menu__caption">Portfolio</span>
                <i class="ph-bold ph-squares-four"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#about">
                <span class="menu__caption">About Me</span>
                <i class="ph-bold ph-user"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#resume">
                <span class="menu__caption">Resume</span>
                <i class="ph-bold ph-article"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#contact">
                <span class="menu__caption">Contact</span>
                <i class="ph-bold ph-envelope"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Navigation Menu End -->

      <!-- Header Controls Start -->
      <div class="header__controls d-flex justify-content-end">
        <button
          id="color-switcher"
          class="color-switcher header__switcher btn"
          type="button"
          role="switch"
          aria-label="light/dark mode"
          aria-checked="true"
        ></button>
        <a
          id="notify-trigger"
          class="header__trigger btn"
          href="mailto:sarwech99@gmail.com?subject=Message%20From%20Portfolio%20Website"
        >
          <span class="trigger__caption">Let's Talk</span>
          <i class="ph-bold ph-chat-dots"></i>
        </a>
      </div>
      <!-- Header Controls End -->
    </header>
    <!-- Header End -->

    <!-- Gradient Background Start -->
    <div class="gradient-background">
      <div class="blur"></div>
      <div class="blur"></div>
      <div class="blur"></div>
    </div>
    <!-- Gradient Background End -->

    <!-- Avatar Side Block Start -->
    <div id="avatar" class="avatar">
      <div
        class="avatar__container d-flex flex-column justify-content-lg-between"
      >
        <!-- image and logo -->
        <div class="avatar__block">
          <div class="avatar__logo d-flex align-items-center">
            <div class="logo__image">
              <!-- Your Logo Here!!! -->
              <img
                th:src="@{img/logo.png}"
                alt="Braxton - Personal Portfolio & Resume HTML Template Logo"
              />
            </div>
            <div class="logo__caption">
              <p>
                <span th:text="*{details.firstName}"></span><br />
                <span th:text="*{details.lastName}"></span>
              </p>
            </div>
          </div>
          <div class="avatar__image">
            <img
              th:src="@{img/avatars/1024x1024_a02.webp}"
              alt="Sarvech Portfolio Profile Photo"
            />
          </div>
        </div>
        <!-- data caption #1 -->
        <div class="avatar__block">
          <h6>
            <small class="top">Specialization:</small>
            <span th:text="*{details.specialization}"></span>
          </h6>
        </div>
        <!-- data caption #2 -->
        <div class="avatar__block">
          <h6>
            <small class="top">Based in:</small>
            <span th:text="*{details.address}"></span>
          </h6>
        </div>
        <!-- socials and CTA button Start -->
        <div class="avatar__block">
          <div class="avatar__socials">
            <ul class="socials-square d-flex justify-content-between">
              <li
                class="socials-square__item"
                th:each="socialLink: *{socialLinks}"
                th:object="${socialLink}"
              >
                <a
                  class="socials-square__link btn"
                  th:href="@{*{link}}"
                  target="_blank"
                >
                  <i th:class="*{icon}"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="avatar__btnholder">
            <a
              class="btn btn-default btn-fullwidth btn-hover btn-hover-accent"
              href="#contact"
              target="_blank"
            >
              <span class="btn-caption">Let's Work Together!</span>
            </a>
          </div>
        </div>
        <!-- socials and CTA button End -->
      </div>
    </div>
    <!-- Avatar Side Block End -->

    <!-- Page Content Start -->
    <div id="content" class="content">
      <div class="content__wrapper">
        <!-- Intro Section Start -->
        <section id="home" class="main intro">
          <!-- Headline Start -->
          <div
            id="headline"
            class="headline d-flex align-items-start flex-column"
            data-speed="1"
          >
            <p class="headline__subtitle animate-headline">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="13px"
                height="13px"
                viewBox="0 0 13 13"
                fill="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"
                />
              </svg>
              <span>Let's meet!</span>
            </p>
            <h1 class="headline__title animate-headline">
              I'm <br />
              Sarvech Rehmani<br />
              <div class="d-none">
                <span
                  class="text"
                  th:each="sklill: *{typingSkills}"
                  th:object="${sklill}"
                  th:text="${sklill.skillName}"
                ></span>
              </div>
              <span id="typedText"></span>
            </h1>
            <div class="headline__btnholder d-flex flex-column flex-sm-row">
              <a
                class="btn mobile-vertical btn-default btn-hover btn-hover-accent-mobile animate-headline"
                href="#portfolio"
              >
                <span class="btn-caption">My Works</span>
                <i class="ph-bold ph-squares-four"></i>
              </a>
              <a
                class="btn mobile-vertical btn-default btn-hover btn-hover-outline-mobile animate-headline"
                target="_blank"
                th:href="@{*{details.resumeLink}}"
              >
                <span class="btn-caption">Download CV</span>
                <i class="ph-bold ph-download-simple"></i>
              </a>
            </div>
          </div>
          <!-- Headline End -->

          <!-- Rounded Scroll Button Start -->
          <div class="rotating-btn">
            <a href="#portfolio" class="rotating-btn__link slide-down">
              <!-- SVG rotating text -->
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 120 120"
                style="enable-background: new 0 0 120 120"
                xml:space="preserve"
                class="animate-rotation"
                data-value="360"
              >
                <defs>
                  <path
                    id="textPath"
                    d="M110,59.5c0,27.6-22.4,50-50,50s-50-22.4-50-50s22.4-50,50-50S110,31.9,110,59.5z"
                  />
                </defs>
                <g>
                  <use xlink:href="#textPath" fill="none"></use>
                  <text>
                    <!-- button text here!!! -->
                    <textPath xlink:href="#textPath">
                      Scroll for More * Scroll for More *
                    </textPath>
                  </text>
                </g>
              </svg>
              <!-- arrow icon -->
              <i class="ph-bold ph-arrow-down"></i>
            </a>
          </div>
          <!-- Scroll Button End -->
        </section>
        <!-- Intro Section End -->

        <!-- Portfolio Section Start -->
        <section id="portfolio" class="inner inner-first portfolio">
          <!-- Content Block - H2 Section Title Start -->
          <div class="content__block section-grid-title">
            <p class="h2__subtitle animate-in-up">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="13px"
                height="13px"
                viewBox="0 0 13 13"
                fill="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"
                />
              </svg>
              <span>Portfolio</span>
            </p>
            <h2 class="h2__title animate-in-up">
              Check out my featured projects
            </h2>
          </div>
          <!-- Content Block - H2 Section Title End -->

          <!-- Content Block - Works Gallery Start -->
          <div class="content__block grid-block">
            <div class="container-fluid px-0 inner__gallery">
              <div
                class="row gx-0 my-gallery"
                itemscope
                itemtype="http://schema.org/ImageGallery"
              >
                <!-- Works Gallery Single Item Start -->
                <figure
                  th:each="project: *{selfProjects}"
                  th:object="${project}"
                  class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                  itemprop="associatedMedia"
                  itemscope
                  itemtype="http://schema.org/ImageObject"
                >
                  <a
                    th:href="@{*{images[0].imageUrl}}"
                    th:data-image="@{*{images[0].imageUrl}}"
                    class="gallery__link"
                    itemprop="contentUrl"
                    data-size="1400x1400"
                  >
                    <img
                      th:src="@{*{images[0].imageUrl}}"
                      class="gallery__image"
                      itemprop="thumbnail"
                      alt="Image description"
                    />
                  </a>
                  <figcaption
                    class="gallery__descr"
                    itemprop="caption description"
                  >
                    <a th:href="@{'/project/'+*{id}}"
                      ><h5 th:text="*{title}"></h5
                    ></a>
                    <div class="card__tags d-flex flex-wrap">
                      <span
                        class="rounded-tag opposite"
                        th:text="*{date}"
                      ></span>
                    </div>
                    <p class="small" th:text="*{summery}"></p>
                  </figcaption>
                </figure>
                <!-- Works Gallery Single Item End -->
              </div>
            </div>
          </div>
          <!-- Content Block - Works Gallery End -->
        </section>
        <!-- Portfolio Section End -->

        <!-- Skill Section Start -->
        <section id="skills">
          <div class="container">
            <div class="card-head d-flex justify-content-between mb-3">
              <h1 class="title">Skills</h1>
            </div>
            <div class="container-fluid p-0 resume-lines">
              <div class="col">
                <div class="col-md-12">
                  <div class="skills-box">
                    <div class="skills-header">
                      <h4>Languages</h4>
                    </div>
                    <div class="skills-list">
                      <a
                        th:each="skill: *{skills.languages}"
                        th:object="${skill}"
                      >
                        <span>
                          <i
                            th:text="*{skillName}"
                            class="skill-slider-name"
                          ></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="skills-box">
                    <div class="skills-header">
                      <h4>Frameworks</h4>
                    </div>
                    <div class="skills-list">
                      <a
                        th:each="skill: *{skills.Frameworks}"
                        th:object="${skill}"
                      >
                        <span>
                          <i
                            th:text="*{skillName}"
                            class="skill-slider-name"
                          ></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="skills-box">
                    <div class="skills-header">
                      <h4>Tools</h4>
                    </div>
                    <div class="skills-list">
                      <a th:each="skill: *{skills.tools}" th:object="${skill}">
                        <span>
                          <i
                            th:text="*{skillName}"
                            class="skill-slider-name"
                          ></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="skills-box">
                    <div class="skills-header">
                      <h4>Others</h4>
                    </div>
                    <div class="skills-list">
                      <a th:each="skill: *{skills.others}" th:object="${skill}">
                        <span>
                          <i
                            th:text="*{skillName}"
                            class="skill-slider-name"
                          ></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Skill Section End -->

        <!-- About Section Start -->
        <section id="about" class="inner about" th:object="${data.details}">
          <!-- Content Block - H2 Section Title Start -->
          <div class="content__block section-grid-title">
            <p class="h2__subtitle animate-in-up">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="13px"
                height="13px"
                viewBox="0 0 13 13"
                fill="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"
                />
              </svg>
              <span>About Me</span>
            </p>
            <h2 class="h2__title animate-in-up">
              Turning complex problems into simple design
            </h2>
          </div>
          <!-- Content Block - H2 Section Title End -->

          <!-- Client Project done Content Block - Achievements Start -->
          <div class="content__block grid-block">
            <div
              class="achievements d-flex flex-column flex-md-row align-items-md-stretch"
            >
              <!-- achievements single item -->
              <div
                class="achievements__item d-flex flex-column grid-item animate-card-3"
              >
                <div class="achievements__card">
                  <p class="achievements__number">
                    <span th:text="*{happyClients}"></span>+
                  </p>
                  <p class="achievements__descr">Happy clients</p>
                </div>
              </div>
              <!-- achievements single item -->
              <div
                class="achievements__item d-flex flex-column grid-item animate-card-3"
              >
                <div class="achievements__card">
                  <p class="achievements__number">
                    <span th:text="*{experience}"></span>+
                  </p>
                  <p class="achievements__descr">
                    <span th:text="*{experiencedIn}"></span> of experience
                  </p>
                </div>
              </div>
              <!-- achievements single item -->
              <div
                class="achievements__item d-flex flex-column grid-item animate-card-3"
              >
                <div class="achievements__card">
                  <p class="achievements__number">
                    <span th:text="*{projects}"></span>+
                  </p>
                  <p class="achievements__descr">Projects done</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Client Project done Content Block - Achievements End -->

          <!-- About Content Block - About Me Data Start -->
          <div class="content__block grid-block block-large">
            <div class="container-fluid p-0">
              <div class="row g-0 justify-content-between">
                <!-- About Me Description Start -->
                <div class="col-12 col-xl-8 grid-item about-descr">
                  <p
                    class="about-descr__text animate-in-up"
                    th:text="*{descriptionOne}"
                  ></p>
                  <p
                    class="about-descr__text animate-in-up"
                    th:text="*{descriptionTwo}"
                  ></p>
                  <div class="btn-group about-descr__btnholder animate-in-up">
                    <a
                      class="btn mobile-vertical btn-default btn-hover btn-hover-accent"
                      th:href="@{*{resumeLink}}"
                    >
                      <span class="btn-caption">Download CV</span>
                      <i class="ph-bold ph-download-simple"></i>
                    </a>
                  </div>
                </div>
                <!-- About Me Description End -->

                <!-- About Me Information Start -->
                <div class="col-12 col-xl-4 grid-item about-info">
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">Name</small>
                      <span th:text="*{firstName+' '+lastName}"></span>
                    </h6>
                  </div>
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">Phone</small>
                      <a
                        class="text-link-bold"
                        th:href="@{*{'tel:'+phoneNumber}}"
                        th:text="*{phoneNumber}"
                      ></a>
                    </h6>
                  </div>
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">Email</small>
                      <a
                        class="text-link-bold"
                        th:href="@{*{'mailto:'+email+'?subject=Message%20From%20Your%20Site'}}"
                        th:text="*{email}"
                      ></a>
                    </h6>
                  </div>
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">Location</small>
                      <a
                        class="text-link-bold"
                        th:href="@{*{addressLink}}"
                        target="_blank"
                        ><span th:text="*{address}"></span
                      ></a>
                    </h6>
                  </div>
                </div>
                <!-- About Me Information End -->
              </div>
            </div>
          </div>
          <!-- About Content Block - About Me Data End -->

          <!-- 2 Main Skills Start Content Block - Services Start -->
          <div class="content__block grid-block">
            <div class="container-fluid p-0">
              <div class="row g-0 align-items-stretch cards">
                <!-- services grid cards single item -->
                <div
                  class="col-12 col-md-6 cards__item grid-item animate-card-2"
                >
                  <div class="cards__card d-flex flex-column">
                    <div class="cards__descr">
                      <h4 class="cards__title animate-in-up">
                        Backend Development
                      </h4>
                      <div class="cards__tags d-flex flex-wrap animate-in-up">
                        <span class="rounded-tag tag-outline">Java</span>
                        <span class="rounded-tag tag-outline">Spring Boot</span>
                      </div>
                      <p class="small cards__text animate-in-up">
                        Building scalable APIs, database management,
                        authentication, and server-side logic.
                      </p>
                    </div>
                    <div class="cards__image d-flex">
                      <img
                        src="img/services/1200x900_s03.webp"
                        alt="Service/Feature Image"
                      />
                    </div>
                  </div>
                </div>
                <!-- services grid cards single item -->
                <div
                  class="col-12 col-md-6 cards__item grid-item animate-card-2"
                >
                  <div class="cards__card d-flex flex-column">
                    <div class="cards__descr">
                      <h4 class="cards__title animate-in-up">
                        Frontend Development
                      </h4>
                      <div class="cards__tags d-flex flex-wrap animate-in-up">
                        <span class="rounded-tag tag-outline">Angular</span>
                        <span class="rounded-tag tag-outline">TypeScript</span>
                      </div>
                      <p class="small cards__text animate-in-up">
                        Building dynamic and interactive web applications with
                        Angular.
                      </p>
                    </div>
                    <div class="cards__image d-flex animate-in-up">
                      <img
                        src="img/services/1200x900_s02.webp"
                        alt="Service/Feature Image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 2 Mail Skills End Content Block - Services End -->
        </section>
        <!-- About Section End -->

        <!-- Resume Section Start -->
        <section id="resume" class="inner resume">
          <!-- Resume Title Content Block - H2 Section Title Start -->
          <div class="content__block block-large">
            <p class="h2__subtitle animate-in-up">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="13px"
                height="13px"
                viewBox="0 0 13 13"
                fill="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"
                />
              </svg>
              <span>Resume</span>
            </p>
            <h2 class="h2__title animate-in-up">
              Education and practical experience
            </h2>
            <p class="h2__text animate-in-up">
              I believe in staying true to myself and presenting my journey
              authentically. My education and practical experiences reflect not
              just what I’ve learned, but who I am and the values I bring to
              every opportunity.
            </p>
          </div>
          <!-- Resume Title  Content Block - H2 Section Title End -->

          <!-- Experince Content Block - Experience Start -->
          <div class="content__block block-large">
            <!-- H3 Block Start -->
            <div class="section-h3">
              <h3 class="h3__title animate-in-up">Work experience</h3>
            </div>
            <!-- H3 Block End -->

            <!-- Experience Lines Start -->
            <div
              class="container-fluid p-0 resume-lines"
              th:each="experience: ${data.experiences}"
              th:object="${experience}"
            >
              <!-- experience single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-6">
                  <h5
                    class="resume-lines__title animate-in-up"
                    th:text="*{position}"
                  ></h5>
                  <p class="resume-lines__source animate-in-up">
                    at
                    <a
                      th:href="@{*{companyLink}}"
                      class="text-link-bold"
                      target="_blank"
                      th:text="*{company}"
                    ></a>
                  </p>
                </div>
                <div class="col-12 col-md-6 text-end">
                  <p class="resume-lines__date animate-in-up">
                    <span th:text="*{startDate}"></span> -
                    <span th:text="*{endDate}"></span>
                  </p>
                  <p th:text="*{location}"></p>
                </div>
                <div class="col-12 col-md-12">
                  <div th:utext="*{description}"></div>
                </div>
              </div>
            </div>
            <!-- Experience Lines End -->
          </div>
          <!-- Experince Content Block - Experience End -->

          <!-- Education Content Block - Education Start -->
          <div class="content__block block-large">
            <!-- H3 Block Start -->
            <div class="section-h3">
              <h3 class="h3__title animate-in-up">My education</h3>
            </div>
            <!-- H3 Block End -->

            <!-- Education Lines Start -->
            <div class="container-fluid p-0 resume-lines">
              <!-- education single item -->
              <div
                class="row g-0 resume-lines__item animate-in-up"
                th:each="education: ${data.educations}"
                th:object="${education}"
              >
                <div class="col-12 col-md-3">
                  <span class="resume-lines__date animate-in-up">
                    <span th:text="*{startDate}"></span> -
                    <span th:text="*{endDate}"></span>
                  </span>
                </div>
                <div class="col-12 col-md-5">
                  <h5
                    class="resume-lines__title animate-in-up"
                    th:text="*{title}"
                  ></h5>
                  <p class="resume-lines__source animate-in-up">
                    From
                    <a
                      th:href="@{*{institutionLink}}"
                      class="text-link-bold"
                      target="_blank"
                      th:text="*{institution}"
                    ></a>
                  </p>
                </div>
                <div class="col-12 col-md-4">
                  <p class="small resume-lines__descr animate-in-up">
                    <span th:text="*{location}"></span> <br />
                    <span th:text="*{gradeIn+': '+grade+'/'+totalGrade}">
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Education Lines End -->
          </div>
          <!-- Education Content Block - Education End -->

          <!-- ---------------------------- -->

          <!-- Portfolio Section Start -->
          <section id="portfolio" class="inner inner-first portfolio">
            <!-- Content Block - H2 Section Title Start -->
            <div class="content__block section-grid-title">
              <p class="h2__subtitle animate-in-up">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="13px"
                  height="13px"
                  viewBox="0 0 13 13"
                  fill="currentColor"
                >
                  <path
                    fill="currentColor"
                    d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"
                  />
                </svg>
                <span>Certificates</span>
              </p>
              <h2 class="h2__title animate-in-up">
                Check out my earned certifications
              </h2>
            </div>
            <!-- Content Block - H2 Section Title End -->

            <!-- Content Block - Works Gallery Start -->
            <div class="content__block grid-block">
              <div class="container-fluid px-0 inner__gallery">
                <div
                  class="row gx-0 my-gallery"
                  itemscope
                  itemtype="http://schema.org/ImageGallery"
                >
                  <!-- Works Gallery Single Item Start -->
                  <figure
                    th:each="certificate: *{certificates}"
                    th:object="${certificate}"
                    class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                    itemprop="associatedMedia"
                    itemscope
                    itemtype="http://schema.org/ImageObject"
                  >
                    <a
                      th:href="@{*{certificateUrl}}"
                      th:data-image="@{*{certificateUrl}}"
                      class="gallery__link"
                      itemprop="contentUrl"
                      data-size="1755x1240"
                    >
                      <img
                        th:src="@{*{certificateUrl}}"
                        class="gallery__image"
                        itemprop="thumbnail"
                        alt="Certificate Image"
                      />
                    </a>
                    <figcaption
                      class="gallery__descr"
                      itemprop="caption description"
                    ></figcaption>
                  </figure>
                  <!-- Works Gallery Single Item End -->
                </div>
              </div>
            </div>
            <!-- Content Block - Works Gallery End -->
          </section>
          <!-- Portfolio Section End -->

          <!-- ---------------------------- -->

          <!-- Faviroute Tool Content Block - H3 Block Start -->
          <div class="content__block">
            <div class="section-h3 section-h3-grid">
              <h3 class="h3__title animate-in-up">My favourite tools</h3>
            </div>
          </div>
          <!-- Content Block - H3 Block End -->

          <!-- Favorite Skill Content Block - Tools List Start -->
          <div class="content__block grid-block block-large">
            <!-- Tools List Start -->
            <div class="tools-cards d-flex justify-content-start flex-wrap">
              <!-- tools simgle item -->
              <div
                class="tools-cards__item d-flex grid-item-s animate-card-5"
                th:each="favouriteTool : *{favouriteTools}"
                th:object="${favouriteTool}"
              >
                <div class="tools-cards__card">
                  <img
                    class="tools-cards__icon animate-in-up"
                    th:src="@{*{logoUrl}}"
                    alt="Tools Icon"
                  />
                  <h6
                    class="tools-cards__caption animate-in-up"
                    th:text="*{name}"
                  ></h6>
                </div>
              </div>
            </div>
            <!-- Tools List End -->
          </div>
          <!-- Favorite Skill  Content Block - Tools List End -->
          <!-- Faviroute Tool Content Block - H3 Block Start  -->

          <!-- Slider Skills Start -->
          <div id="slider-skill">
            <div id="skill-slid" class="animate-in-up"></div>
          </div>
          <!-- Slider Skills End -->
        </section>

        <!-- Resume Section End -->

        <!-- Contact Section Start -->
        <section id="contact" class="inner contact">
          <!-- Content Block - H2 Section Title Start -->
          <div class="content__block section-title">
            <p class="h2__subtitle animate-in-up">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="13px"
                height="13px"
                viewBox="0 0 13 13"
                fill="currentColor"
              >
                <path
                  fill="currentColor"
                  d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"
                />
              </svg>
              <span>Contact</span>
            </p>
            <h2 class="h2__title animate-in-up">
              Let's make something awesome together!
            </h2>
          </div>
          <!-- Content Block - H2 Section Title End -->

          <!-- Content Block - Socials Cards Start -->
          <div class="content__block grid-block">
            <div class="socials-cards d-flex justify-content-start flex-wrap">
              <!-- socials item -->
              <div
                class="socials-cards__item d-flex grid-item-s animate-card-5"
                th:each="socialLink: *{socialLinks}"
                th:object="${socialLink}"
              >
                <div class="socials-cards__card">
                  <i th:class="*{icon}"></i>
                  <a
                    class="socials-cards__link"
                    th:href="@{*{link}}"
                    target="_blank"
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Block - Socials Cards End -->

          <!-- Content Block - Teaser Start -->
          <div class="content__block">
            <div class="teaser">
              <p class="teaser__text animate-in-up">
                Want to know more about me, tell me about your project or just
                to say hello?
                <a
                  class="text-link-bold"
                  th:href="@{*{'mailto:'+details.email+'?subject=Message%20From%20Your%20Site'}}"
                  >Drop me a line</a
                >
                and I'll get back as soon as possible.
              </p>
            </div>
          </div>
          <!-- Content Block - Teaser End -->

          <!-- Content Block - Contact Data Start -->
          <div class="content__block">
            <div class="container-fluid p-0 contact-lines animate-in-up">
              <div class="row g-0 contact-lines__item">
                <!-- Location item -->
                <div class="col-12 col-md-4 contact-lines__data">
                  <p class="contact-lines__title animate-in-up">Location</p>
                  <p class="contact-lines__text animate-in-up">
                    <a
                      class="text-link-bold"
                      th:href="@{*{details.addressLink}}"
                      target="_blank"
                      th:text="*{details.address}"
                    ></a>
                  </p>
                </div>
                <!-- Phone item -->
                <div class="col-12 col-md-4 contact-lines__data">
                  <p class="contact-lines__title animate-in-up">Phone</p>
                  <p class="contact-lines__text animate-in-up">
                    <a
                      class="text-link-bold"
                      th:href="@{*{'tel:'+details.phoneNumber}}"
                      th:text="*{details.phoneNumber}"
                    ></a>
                  </p>
                </div>
                <!-- Email item -->
                <div class="col-12 col-md-4 contact-lines__data">
                  <p class="contact-lines__title animate-in-up">Email</p>
                  <p class="contact-lines__text animate-in-up">
                    <a
                      class="text-link-bold"
                      href="mailto:sarwech99@gmail.com?subject=Message%20From%20Your%20Site"
                      th:text="*{details.email}"
                      >sarwech99@gmail.com</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Block - Contact Data End -->

          <!-- Content Block - Contact Form Start -->
          <div class="content__block grid-block block-grid-large">
            <div class="form-container">
              <!-- Reply Messages Start -->
              <div class="form__reply centered text-center">
                <i class="ph-bold ph-smiley reply__icon"></i>
                <p class="reply__title">Done!</p>
                <span class="reply__text"
                  >Thanks for your message. I'll get back as soon as
                  possible.</span
                >
              </div>
              <!-- Reply Messages End -->

              <!-- Contact Form Start -->
              <form class="form contact-form" id="contact-form">
                <!-- Hidden Required Fields -->
                <input
                  type="hidden"
                  name="project_name"
                  value="Starter Template"
                />
                <input
                  type="hidden"
                  name="admin_email"
                  value="support@mixdesign.club"
                />
                <input
                  type="hidden"
                  name="form_subject"
                  value="Contact Form Message"
                />
                <!-- END Hidden Required Fields-->
                <div class="container-fluid p-0">
                  <div class="row gx-0">
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="text"
                        name="Name"
                        placeholder="Your Name*"
                        required
                      />
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="text"
                        name="Company"
                        placeholder="Company Name"
                      />
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="email"
                        name="E-mail"
                        placeholder="Email Adress*"
                        required
                      />
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input
                        type="tel"
                        name="Phone"
                        placeholder="Phone Number*"
                        required
                      />
                    </div>
                    <div class="col-12 form__item animate-in-up">
                      <textarea
                        name="Message"
                        placeholder="A Few Words*"
                        required
                      ></textarea>
                    </div>
                    <div class="col-12 form__item animate-in-up">
                      <button
                        class="btn btn-default btn-hover btn-hover-accent"
                        type="submit"
                      >
                        <span class="btn-caption">Send Message</span>
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Contact Form End -->
            </div>
          </div>
          <!-- Content Block - Contact Form End -->
        </section>
        <!-- Contact Section End -->
      </div>
    </div>
    <!-- Page Content End -->

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button
              class="pswp__button pswp__button--close link-s"
              title="Close (Esc)"
            ></button>

            <button
              class="pswp__button pswp__button--share link-s"
              title="Share"
            ></button>

            <button
              class="pswp__button pswp__button--fs link-s"
              title="Toggle fullscreen"
            ></button>

            <button
              class="pswp__button pswp__button--zoom link-s"
              title="Zoom in/out"
            ></button>

            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader-active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
          >
            <div class="pswp__share-tooltip"></div>
          </div>

          <button
            class="pswp__button pswp__button--arrow--left link-s"
            title="Previous (arrow left)"
          ></button>

          <button
            class="pswp__button pswp__button--arrow--right link-s"
            title="Next (arrow right)"
          ></button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Load Scripts Start -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script th:src="@{js/libs.min.js}"></script>
    <script th:scr="@{js/bg/js}"></script>
    <script th:src="@{js/app.js}"></script>
    <script th:src="@{js/gallery-init.js}"></script>
    <script type="module" th:src="@{js/skill-slid.js}"></script>

    <!-- Load Scripts End -->
  </body>
</html>
